<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Rubik&display=swap" rel="stylesheet">

<style>
.column1 {
    float: left;
    width: 50%;
    height: 50%;
}

.column2 {
    float: left;
    width: 50%;
    height: 50%;
}
</style>

<div>

    <div class="column1">
        <img src="img 1.png">
    </div>

    <div class="column2">
        <img src="img 2.png">
    </div>

    <div class="column1">
        <img src="img 3.png">
    </div>

    <div class="column2">
        <img src="img 4.png">
    </div>

</div>
