<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Rubik&display=swap" rel="stylesheet">

<style>
.row1 {
    
}

.row2 {

}

.column1 {
    float: left;
    width: 50%;
}

.column2 {
    float: left;
    width: 50%;
}
</style>


<div class="row1">
    <div class="column1">
        <img src="img_1.png">
    </div>
    <div class="column2">
        <img src="img_2.png">
    </div>
</div>
<div class="row2">
    <div class="column1">
        <img src="img_3.png">
    </div>
    <div class="column2">
        <img src="img_4.png">
    </div>
</div>
